#masterboard {
	width: 100%;
	position: relative;
}
#masterboard .player_row {
	width: 100%;
	height: 50px;
	overflow: hidden;
	background: #F7F7F7;
}
#masterboard img {
	width: 50px;
	height: 50px;
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}
#masterboard .player_row .player_rank, #masterboard .player_row .player_name, #masterboard .player_row .player_score {
	display: block;
	margin: 0;
	padding: 0;
	line-height: 50px;
	font-family: sans-serif;
	color: #333;
	font-weight: bold;
}
#masterboard .player_row .player_name, #masterboard .player_row .player_rank {
	float: left;
	margin-left: 20px;
	font-size: 24px;
}
#masterboard .player_row .player_rank {
	width: 40px;
	text-align: center;
}
#masterboard .player_row[row_number="0"] .player_rank {
	color: gold;
}
#masterboard .player_row[row_number="1"] .player_rank {
	color: silver;
}
#masterboard .player_row[row_number="2"] .player_rank {
	color: #9C6963;
}
#masterboard .player_row .player_score {
	float: right;
	margin-right: 20px;
	font-size: 30px;
}